
body{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;



}
.bodyIMG{
    

    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    z-index: -1;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#1a004a,#f0856d);
     border-radius: 10px;
    position: relative;
    margin: 40px;
    font-size: 60px;
    color: white;
    
}
.a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.game{




    width: 150px;
    height: 150px;
    
    border: 3px solid ;
    border-color:rgb(0, 0, 0) ;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 30px;
    position: relative;
    bottom: -100px;
  background:transparent ;
    backdrop-filter: blur(15px);
    font-family: Arial, Helvetica, sans-serif;

}
.main{
   
  
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}
button{
padding: 10px 20px;
margin: 10px;
border: none;
border: none;
background:linear-gradient(135deg,#1a004a,#f0856d);
width: 100px;
color: rgb(255, 255, 255);
cursor: pointer;
border-radius: 8px;
position: relative;
height: 40px;
font-size: 20px;


}
button:hover {
    background:linear-gradient(135deg,#2a076b,#ff886d);
}
.game:hover {
    background:linear-gradient(135deg,#2a076b,#ff886d);
}
/* עיצוב המודאל */
.modal {
    display: none; 
    position: relative; 
    z-index: 1; 
     margin: 15% auto; 
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    
    width: 250px; 
    height: 260px; 
    overflow: auto; 
    background: transparent; 
    backdrop-filter: blur(20px);
    bottom: 500px;
}
.modal1 {
    display: none; 
    position: relative; 
    z-index: 1;
    margin: 15% auto;
    padding: 60px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    overflow: auto;
    background: transparent;
    backdrop-filter: blur(20px);
    bottom: 550px;
}




.close,.close2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close,.close2:hover,
.close,.close2:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#enter,#enter2 {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#enter:hover {
    background-color: #0056b3;
}
#link{
   position: relative;
   bottom: -10px;
    color: white;
    left: 30px;
}

        
 #pointsTable {
      background:linear-gradient(135deg,#2a076b,#ff886d);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    position: relative;
    bottom: 400px;
    left: 500px;
    color: #f1f1f1;
}
        

    

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: right;
            
            border-bottom: 1px solid #ddd;
        }

        th {
            background:linear-gradient(135deg,#2a076b,#ff886d);
            color: #ffffff;
        }

        tr:hover {
            background-color: #531290; 
        }

        td {
            color: #ffffff;
        }
    
        
        .side-menu {
            height: 100%;
            width: 250px;
            position: fixed;
            border: solid black;

            top: 0;
            left: -250px; 
           backdrop-filter: blur(20px);
            color: white;
            transition: left 0.3s; 
            padding: 15px;
        }
        
        .side-menu h2 {
            margin: 0 0 15px 0;
        }
       .open-btn{
        bottom: 15px;
        font-size: 30px;
        cursor: pointer;
        float: right;
        position: relative;
        left: 60px;
       }
        
        .side-menu ul {
            list-style-type: none;
            padding: 0;
        }
        
        .side-menu ul li {
            margin: 10px 0;
        }
        
        .side-menu ul li a {
            color: white;
            text-decoration: none;
        }
        
        .close-btn{
            font-size: 40px;
            cursor: pointer;
            float: right;
        }
        
        .main-content {
            padding: 20px;
        }
        #title{
            font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#1a004a,#f0856d);
     border-radius: 10px;
    position: relative;
    margin: 40px;
    font-size: 60px;
    color: white;
        }
        
      


